<h1>Teacher main view</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
</table>

<%= link_to "Add Students", {controller: "student", action: "new", teacher_id: @teacher.id } %>