<h1>Teacher main view</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <%= @students.each do |s| %>
  <tr>
    <td><%= s.name %></td>
    <td><%= s.email %></td>
  </tr>
    <% end %>
  </tbody>
</table>

<%= form_for(@student) do |f| %>

<% end %>