<div id="reports_page" class="container">
  <h1>Bengal Stem Day</h1>
  <h2>View Reports</h2>
  <div class="row">
    <div class="col-sm-2.1">
      <p>Date: <input type="text" id="reports_start_date"></p>
    </div>
    <div class="col-sm-2.1">
      <%#= link_to "Load", load_report_path(Date.new(2020,04,20)) ,id: "load_report", remote: true %>
      <button class="button-small solid-element left-indent-more" onclick="loadEvent()">Load</button>
    </div>
  </div>
  <div id="activity-notice">
  </div>
  <table id="report_table" class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Activity</th>
      <th scope="col">Activity Type:</th>
      <th scope="col">Total Participants:</th>
      <th scope="col">Sponsored by:</th>
      <th scope="col"></th>
    </tr>
    </thead>
  </table>
</div>