<div class="container">
  <% if (current_user.roles.first.role_name == "Teacher" || @admin) && @show %>
    <%= render :partial => "teachers/show" %>
    <%= render :partial => "registrations/registrations" %>
  <% elsif current_user.roles.first.role_name == "Student" || (@admin && !@show) %>
    <div class="row">
    <%= render :partial => "registrations/registrations" %>
    <%= render :partial => "students/show" %>
    </div>
  <% end %>


</div>
