<%# @registration.each do |r| %>
<!-- <p> Student <%#=r.student.name %> is registered for  <%#= r.event_details.event.name %></p>-->
<%# end %>

<table>
  <thead>
    <tr>
      <th>Occasion Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
  <% @occasions.each do |o| %>
    <tr>
      <td><%= link_to o.name, "registrations/events/#{o.id}" %></td>
      <td><%=o.start_date %></td>
      <td><%=o.start_date %></td>
    </tr>
  <% end %>
  </tbody>

</table>
