<%# @registration.each do |r| %>
<!-- <p> Student <%#=r.student.name %> is registered for  <%#= r.event_details.event.name %></p>-->
<%# end %>

<table>
  <thead>
    <tr>
      <th>Occasion Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
  <% @occasions.each do |o| %>
    <tr>
      <%=form_tag(action: "new", method: "post") do %>
        <td><%=text_field_tag :name, o.name %><%=submit_tag "Enter" %></td>

        <%end %>
      <td>o.start_date</td>
      <td>o.start_date</td>
    </tr>
  <% end %>
  </tbody>

</table>
