<%=@account.name %> has invited you to join their team.
===========================================================

Would you like to join their team. <%=link_to "Join", controller: "groupings", action: "add", id: @student.participant.id, team_id: @team.id %>

<p>Don't reply to this email.</p>