<h1>
  <%=@user.name %>, you have been successfully  signed up to BengalEvents!
  Follow the following instructions to login to your account. </h1>
<p>
  Click on this link <a href=<%=@link %>>BengalEvents</a>
  Next enter your email address : <%=@user.email %>.
  And this is your password : <%=@user.password %>

</p>
<p>Then you will be logged into your account.</p>