<h1>
  <%=@user.first_name + " " + @user.last_name%>, you have been successfully  signed up to BengalEvents!
  Follow the following instructions to login to your account. </h1>
<p>Click on this link  <%= link_to "BengalEvents", user_session_url %>. </p>
<p>Next enter your email address : <%=@user.email %>.</p>
<p>And this is your password : <%=@password %></p>
<p>Then you will be logged into your account.</p>
<p>Do not reply to this email.</p>