<div class="col-sm">
  <%# if @user.sessions.count > 0 %>
  <% if @user.sessions.count > 0 %>

    <h2>Activities Registered For</h2>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">Modify</th>
      </tr>
      </thead>
      <tbody>
      <%#@user.sessions.each do |s| %>
      <% @user.sessions.each do |s| %>

        <tr>
          <th scope="row"><%= s.activity.name %></th>
          <td><%= s.start_time.strftime("%l:%M %p") %> -  <%= s.end_time.strftime("%l:%M %p") %></td>
          <td><%= button_to("Drop", {method: :post, controller: "registrations", action: :drop, role: role ,id: @user.id, session_id: s.id}, class: "primary-button button", title: "Unregister for event", data: {confirm: "Are you sure?"}) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>