/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */
body {
    font-family: tahoma, geneva, sans-serif;
    margin: 0;

}

h1, h2, a {
    color: rgb(244, 121, 32); /*ISU Orange */
}

p {
    color: black;
}

a:hover {
    color: rgb(247, 148, 30);
    text-decoration: none !important;
}

.header {
    padding: 10px 16px;
    background: rgba(5, 5, 5, .7);
    color: #f1f1f1;
    text-align: right;
    height: 100px;
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 10px 10% 10px 10%;

}

.sticky + .content {
    padding-top: 110px;
}


/* Hide alert and notice if empty */
.notice:empty, .alert:empty {
    display: none;
}

.button {
    background-color: rgb(109, 110, 113); /* ISU medium gray */
    border: 2px solid rgb(109, 110, 113);
    color: white;
    padding: 8px 20px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: black;
    margin: 5px 0px 0px 0px;
}

.sign-in-links {
    position: absolute;
    bottom: 0;
    right: 16px;
    color: rgb(244, 121, 32);
}

table, th, td, tr {
    border: 2px solid rgb(246, 132, 40);
}

td {
    padding: 5px
}

th {
    text-align: center;
}

a.loginlink {
    color: white;
}

a:hover.loginlink {
    color: rgb(247, 148, 30);
}

.column {
    float: left;
    width: 30%;
}

.column label {
    padding: 0px 0px 0px 15px;
    margin: 0px;
    color: black;

}

.column input {
    margin-bottom: 2px;
}

.card {
    float: right;
}