// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/



tr.event-collapse:hover td {
  //@extend .primary-color !optional;
  cursor: pointer;
  color: white;
}

.event-collapse td {
  color: white;
  font-size: 1.5em;
}

.event-header {
  //background-color: rgb(109, 110, 113); /* ISU medium gray */
  color: white;
  font-size: 1.7em;
}

.session-header {
  //background-color: rgba(244, 121, 32, 0.8);
  color: white;
}

.remove-button {
  color: black;

}

.events:hover td {
  background-color: rgb(196, 193, 188);
}

.thead-secondary {
  background-color: rgb(152, 153, 156);
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.left-indent-more {
  margin-left: 20px;
  margin-bottom: 5px;
}

.registered {
  color: green;
}