
.growling-gray{
    background-color: rgb(130,130,130);
}

.rorange{
    background-color: rgb(244,121,32);
}

.orange{
    background-color: rgba(220,110,20,0.8);
}

.link-card:hover{
  margin: 5px 0 0 0;
}

.team-bar{
    border-bottom-style: solid;
    border-width: 2px;
    margin-bottom: 8px;
}

.indent-bellow{
    margin-bottom: 15px;
}

.left-indent{
    margin-left: 8px;
    display: table-cell;
}


