// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/



.button-small {
  background-color: rgb(109, 110, 113); /* ISU medium gray */
  border: 2px solid rgb(109, 110, 113);
  color: white;
  padding: 5px 15px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button-small:hover {
  background-color: white;
  color: black;
}

.student-bar{
  background: red;
  color: white;
  margin-bottom: 30px;
  height: 25px;
}
h2{
  text-decoration-color: black;
}
.student-name{
  background: #363636;
  color: white;
  padding-left: 10px;
  border-bottom-width: 5px;
  border-bottom-color: rgb(244, 121, 32);
  border-bottom-style: solid;
}
.student-name-black{
  background: #363636;
  color: white;
  padding-left: 10px;
  border-bottom-width: 5px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.bottom-bar{
  border-bottom-width: 3px;
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-left: 10px;
}

.increase-bottom-margin{
  margin-bottom: 100px;
}

//.far-right{
//  width: fit-content;
//  margin-left: fill;
//}