
.new-profile{
  width: 800px;
  height: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: #1c2324;
  position: absolute;
  right: 25%;
}

.team-section{
  margin-left: 40px;
}

.menu-container{
    background-color: rgb(109, 110, 113);
    color: orange;
}

.top-bar{
    background-color: #363636;
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}


.team_name{
    position: relative;
    text-align: left;
    padding-left: 850px;
    margin-top: 40px;
}

.bold{
    font-weight: bold;
    font-size: 4em;
}

.notice{
    font-style: italic;
}

.dark-header{
    background: #000000;
    color: orange;
}

.bengal-card{
    text-align: center;
    background-color: rgb(246,146,64);
}

.profile-field{
  margin-bottom: 10px;
}

.info{
    padding-left: 13em;
}
.thead-bengal{
    background: rgb(130,130,130);
    color: rgb(0,0,0);
}

.bengal-table{
    color: rgb(0,0,0);
}

.right-bar{
    border-right-width: 5px;
    border-color: black;
    border-right-style: solid;
}

.team-info-section{
    height: 110px;
    width: 600px;
    padding-top: 10px;
}

.bar-top{
    border-top-style: solid;
    border-color: black;
    border-top-width: 5px;
}
