<% content_for(:title, "Create Occasion") %>
<h1>Create a New Occasion</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= render partial: "occasions/partials/form" %>

<!--<form action="/occasions" method="post">-->
<!--  <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">-->
<!--  <p>-->
<!--    <label>Occasion Name: </label>-->
<!--    <input type="text" name="occasion[name]">-->
<!--  </p>-->
<!--  <p>-->
<!--    <label>Start Date: </label>-->
<!--    <input type="text" name="occasion[start_date]">-->
<!--  </p>-->
<!--  <p>-->
<!--    <label>End Date: </label>-->
<!--    <input type="text" name="occasion[end_date]">-->
<!--  </p>-->
<!--  <input type="submit" value="Create">-->
<!--</form>-->