<div class="container">
  <%@events.each do |e| %>
    <div class="row">
      <h2><%=e.name %></h2>
    </div>
    <%e.activities.each do |a| %>
    <div class="row">
      
    </div>
    <%end %>
  <% end %>
</div>