<% content_for :title, "Events" %>


<div class="col-sm-2 float-right">
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Actions</div>
    <div class="card-body text-dark">
      <%= link_to " Profile", profile_path(current_user), class: "button button-small glyphicon glyphicon-user", title: "Look at your profile" %>
    </div>
  </div>
</div>

<%= render "registrations/events" %>



