<% content_for(:title, "Create Occasion") %>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <div class="alert alert-danger">
      <%=e %>
    </div>
  <% end %>
<% end %>

<%= render partial: "events/partials/form" %>

