<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <div class="alert alert-danger">
      <%=e %>
    </div>
  <% end %>
<% end %>
<%= form_tag("update_settings") do %>
  <%=render partial: "setups/settings" %>
<% end %>